.help-container{
 /* margin-top: 5px; */
 height: calc(100% - 5px);
 overflow-x: hidden;
 width: 100%;
 background-color: var(--gold);
 /* background-image: url('/ff-help1.jpg'); */
}

.help-image{
    width: 400px;
    /* height: 100%; */
}

#back-right{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    font-weight: bolder;
    /* color: #ddd; */
}