.invitebar-main{

}

.invite-image{
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px var(--shade);
    display: inline;
}
.invitebar-msg
{
    display: contents;
    position: relative;
    color: var(--light);
}