.friend-bar{
    border-left: 1px solid var(--edge);
    border-right: 1px solid var(--edge);
    margin: 1px 5px;
    color: var(--edge);
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(255,255,255,.1);
}

.friend-bar:hover .remove{
    display: inline-block;
}

.guestbar-info1
{
    top: -5px;
    left: 10px;
    position: relative;
}

.invite-image1{
    width: 20px;
    height: 20px;
    margin: 5px 0 0 2px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px var(--shade);
    display: inline;
}

.right{
margin: 0 2px 0 50px;
right: 10px;
}

.remove{
    float: right;
    display: none;
    cursor: pointer;
    font-size: 12px;
    margin: 7px;
}
.remove:hover{
    color: var(--gold);
}