.friend-bar{
    border: 1px solid var(--light);
    background-color: rgba(0,0,0,.05);
    border-radius: 99999px;
    margin: 1px 5px;
}

.friend-bar:hover .remove{
    display: inline-block;
}

.guestbar-info1
{
    top: -5px;
    left: 10px;
    position: relative;
}

.invite-image1{
    width: 20px;
    height: 20px;
    margin: 5px 0 0 2px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px var(--shade);
    display: inline;
}

.right{
margin: 0 2px 0 50px;
right: 10px;
}

.remove{

    background-color: var(--light);
    float: right;
    display: none;
    cursor: pointer;
    border-radius: 99999px;
    padding: 4px 10px;

}
.remove:hover{
    background-color: var(--gold);
}