.friend-bar{
    margin: 1px 5px;
    color: var(--edge);
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(255,255,255,.1);
}

.friend-bar:hover .friend-action{
    display: inline-block;
}

.guestbar-info1
{
    top: -3px;
    left: 10px;
    position: relative;
}

.right{
margin: 0 2px 0 50px;
right: 10px;
}

.friend-action{
    float: right;
    display: none;
    cursor: pointer;
    font-size: calc(6px + .8vh);
    margin: 1% 1.6%;
    /* margin: 5px 10px; */
    z-index: 100;
}
.friend-action:hover{
    color: var(--gold);
}