#hb-logo{
    width: clamp(120px , min( 40vw , 40vh ) , 240px );
}
#back{
    width: 100%;
    height: 100%;
    background-color: #000;
}

#back input{
    background-color: #000;
    border-bottom: 1px solid;
}
#welcome{
    color: var(--gold);
    font-size: clamp( 8px , min(1.8vw , 1.8vh) , 11px );
    padding: 0 20px;
}

.noshade{
    box-shadow: none;
}