.stick{
    z-index: 500;
    position: absolute;
    width: clamp( 30px, min(10vh , 10vw) , 100px);
    aspect-ratio: 1;
    /* font-size: 9px; */
    padding: 0;
    right: -5px;

}
.closing{
    bottom: 3px;
}
.again{
    bottom: 26px;
}