.TimerBar-main{
    height: 70px;
    width: 400px; 
    text-align: left;
}

.TimerBar-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0 20px;
    box-shadow: 2px 2px 5px var(--shade);
}

.TimerBar{
    background-color: var(--gold);
    height: 8px;
    width: 260px; /* min=5px max=260px */
    margin: 0 0 0 5px;
    position: relative;
    display: block;
    top: -73px;
    left: 80px;
    box-shadow: 0 2px 3px #999;
}

.TimerBar-text{
    color: var(--gold);
    font-size: 32px;
    display: inline-block;
    top: -35px;
    position: relative;
    font-weight: bolder;
    text-shadow: 0 3px 3px #999;
}
