.piece-face{
    border-radius: 50%;
    width: clamp(10px, min(5vh , 5vw) , 100px);
    aspect-ratio: 1;
    margin: 18% auto;
    padding: 10% 4% 5% 2%;
    border: 2px solid var(--back);
    display: inline-block;
    z-index: 100;
    font-size: clamp(10px , min(2.9vh , 2.9vw) , 60px);
    text-align: center;
}

.hide{
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border: 2px solid rgba(0,0,0,0);
}

.show{
    background-color: var(--light);
    box-shadow: 1px 3px 5px var(--shade);
}

.selected{
    background-color: var(--gold);
    box-shadow: 1px 3px 5px var(--shade);
}