.title-header{
    border-bottom: 1px solid var(--gold);
    color: #fff;
    background-color: var(--light);
    padding: 5px;
    font-size:  clamp( 10px, min( 2.5vw , 2.5vh ) , 38px);
    height: 4%;
}
.title-container{
    background-color: var(--mid);
    border : 1px solid var(--gold);
    margin: 0 auto;
    height: calc(96% - 11px);
}
