#btplus{
    width: 5vh !important;
    height: 5vh !important;
    position: absolute;
    right: 10px;
    top: calc(10px + 3vh);
}
#search-add{
    height: 70%;
    width: 70%;
    top: 50px;
    position: absolute;
    float: right;
    right: 10px;
    box-shadow: 2px 2px 6px var(--shade);
    background-color: var(--soft-shade);
    z-index: 20000;
}

#search{
    /* background-color: var(--mid-shade); */
    width: 80%;
    height: 5vh;
    margin: 1vh;
    text-align: left;
    padding: 0 .5vh;
    border: 1px solid var(--light);
    color: var(--gold);

}
#search input{
    background: none;
    margin: 0;
    border: none;
    padding: .5vh 0;
}