.labeldiv{
    text-align: left;
    margin: 5px auto;
}

.labeldiv-title{
    background-color: var(--light);
    color: #fff;
    display: inline-block;
    left: 0;
    top: 0;
    position: relative;
    margin: 0;
    padding: .5vh 4vh .5vh 1vh;
    /* padding: 1px 30px 3px 8px; */
    border-radius: 5px 5px 0 0 ;
    min-width: 20%;
    /* font-size: 11px; */
    font-size: 1.9vh;
}

.labeldiv-inner{
    border: 1px solid var(--light);
    border-radius: 0 10px 10px 10px ;
    height: 75%;
    padding: 5px 0;
    /* max-height: 80px; */ 
    /* ?? */
}