.check-container{
    display: inline;
    margin: 1px 5px;
}
.check-label{
    font-size: 11px;
    vertical-align: text-top;
}
.check{
    margin: 2px;
    min-width: 14px;
}

#time-value{
    height: 14px;
    width: 40px;
    margin: -20px 0 0 0;
    top: -4px;
    position: relative;
}