.check-container{
    display: inline-flex;
    align-items: center;
    font-size: 2vh;
    margin: 1vh 0;
}

.check-label{
 cursor: pointer;
}

.check-label:hover{
 color: #ddd;  
}

input[type="checkbox"]:hover ~ .check-label{
 color: #ddd;
}

