
/* @import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    --green: rgba(0,100,0,.3);
    --light: rgba(255,255,255,.4);
    --mid: rgba(255,255,255,.3);
    --back: rgba(100,120,120,.5);
    --dark: rgba(0,0,0,.5);
    --gold: rgba(255,225,0,.7);
    --blue: rgba(0,100,255,.3);
    --shade: rgba(0,0,0,.4);
    --soft-shade: rgba(0,0,0,.2);
    --edge: rgba(255,255,255,.5);
    --button: rgba(255,255,255,.2);
    background-color: var(--back);
    /* Un-comment this section for background check*/
    background-image: url("../../test.jpg") ;
    background-position: center;
    background-size: cover;
    background-color: var(--back);
    
    color: var(--light);
    user-select: none;
    /* font-family: 'Assistant', sans-serif; */
    /* font-family: 'Oxanium', cursive; */
    font-family: 'Ubuntu', sans-serif, arial;
    text-align: center;
    margin: 0;
    padding: 0;
}


.scrollable {
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.scrollable::-moz-scrollbar {
    width: 0;
    height: 0;
}
.bottom-stick{
    position: absolute;
    bottom: clamp(5px , min( 2vh , 2vw) , 40px);
    /* bottom: 0; */
    margin: 0 auto;
    width: 100%;
}
.close-icon{
    color: var(--gold);
    font-size: 2.5vh;
    margin: 5px 0 ;
    cursor: pointer;
    z-index:1000;
    right: 10px;
    position: absolute;
    
}
.close-icon:after{
    content: 'X';
}
.close-icon:hover{
    color: #fff;
    text-shadow: 3px 3px 5px var(--shade);
}
.close-icon:active{
    color: var(--gold);
    text-shadow: none;
}
.large-icon{
    font-size: 4vh;
}
.bar{
    width: 97%;
    left: 1%;
    height: 30px;
    border: 1px solid var(--gold);
    padding: 0;
    display: flex;
    align-items: center;
    margin: 1px auto 2px;
}
.noshade{
    box-shadow: none;
}
button{
    /* font-family: 'Oxanium', cursive; */
    font-family: 'Ubuntu', sans-serif, arial;
    /* font-family: 'Assistant', sans-serif; */
    border: none;
    background: linear-gradient(  var(--button), var(--back));
    border-radius: 8px;
    font-size: clamp( 8px, min( 2vw , 2vh ) , 30px);
    color: #fff;
    width: 40%;
    height:clamp(26px , min(5vh , 5vw) , 100px);
    display: inline-block;
    padding: 7px;
    margin: 3px 10px;
    cursor: pointer;
    outline: none;
    transition: all ease .5s ;
    border-right: 1px solid var(--edge);
    border-left: 1px solid var(--edge);
    backdrop-filter: blur(1px);
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}
button:hover{
    color: #ff5; 
    box-shadow: 1px 3px 5px var(--soft-shade);
    backdrop-filter: blur(2px);
    border-right: 1px solid var(--gold);
    border-left: 1px solid var(--gold);
}
button:active{
    box-shadow: 1px 1px var(--soft-shade);
    color: #fff;
}

input{
    outline: none;
    border: none;
    margin: 10px auto;
    font-size: clamp( 11px, min(2vw , 2vh) , 24px);
    height:  clamp( 16px, min(4vw , 4vh) , 50px);
    padding: 2px 10px;
    background-color: var(--back);
    color: #fff;
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

::placeholder{
    color: var(--gold);
}

label{
    display: block;
    color: var(--light);
}

.green{
    background-color: var(--green);
    color: #fff;
}
.blue{
    background-color: var(--blue);
    color: #fff;
}
.gray{
    background-color: var(--light); 
}

.hidden{
    visibility: hidden;
}

.blur{
    backdrop-filter: blur(5px);
}
.card{
    border-radius: 10px ; 
    backdrop-filter: blur(5px);
}
.lighted{
    border-left: 1px solid var(--edge);
    border-right: 1px solid var(--edge);
}

.round-edge{
    border-radius: 99999px;
}

.circle{
    border-radius: 50%;
}
.boxshaded{
    box-shadow: 2px 2px 5px var(--shade); 
}
.textshaded{
    text-shadow: 2px 2px 3px var(--shade);    
}
.largavatar{
    width: 64px;
    height: 64px; 
}