body{
  --green: #8a8;
  --light: #ddc;
  --back: #aaa;
  --dark: #666;
  --gold: #dd6;
  background-color: var(--back);
  color: var(--dark);
  user-select: none;
}
TitleDiv{
  background-color: yellow;
}
.App {
  text-align: center;
}
.scrollable {
  overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.close-icon{
    /* right: 20px; */
    /* top: -8px; */
    color: #905;
    font-weight: bolder;
    font-size: 16px;
    margin: 5px ;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.bar{
    width: 97%;
    left: 1%;
    height: 30px;
    border: 1px solid var(--gold);
    padding: 0;
    display: flex;
    align-items: center;
    margin: 1px auto 2px;
}
button{
  border: 1px solid var(--gold);
  background-color: var(--back);
  box-shadow: 1px 1px 5px #777;
  border-radius: 2px;
  font-size: 10px;
  color: var(--dark);
  width: 40%;
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}
button:hover{
  color: #ffa;
}
button:active{
  box-shadow: 1px 1px 2px #777;
  color: var(--dark);
}

input{
  border: none;
  outline: none;
  background-color: var(--gold);
  color: var(--dark);
  height: 18px;
  font-size: 12px;
  width: 200px;
}
label{
  display: block;
  color: var(--light);
}
.green{
  background-color: var(--green);
  color: var(--light);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
