#hb-logo{
    width: clamp(120px , min( 40vw , 40vh ) , 240px );
}
#back{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
}

#back input{
    background-color: #000;
    border: none;
    border-bottom: 1px solid var(--light);
    font-size: clamp( 8px , min(1.9vw , 1.9vh) , 20px );
}
#back a{
    font-size: 1.5vh;
    color: #599;
    margin: 0 0 0 7vw;
}
#welcome{
    color: #fff;
    font-size: 1.8vh;
    padding: 0 3%;
}
/* #submitButton{
    width: clamp(60px , min(8vh , 8vw) , 300px);
} */
