.main-page button{
    height: calc(20px + 5vh);
}

#main-image{
    left: 10px;
    top: 0;
    position: absolute;
    margin: 0 5px 20px 0;
    cursor: pointer;
    transition: .5s all;
}
#main-image:hover{
    filter: grayscale(70%);
}
.main-userinfo
{
    text-align: left;
    position:absolute;
    left: 80px;
    top: calc(20px + .5vh);
    font-size: clamp( 8px, min( 2.2vw , 2.2vh ) , 38px);
    width: 90%;
}
