
#nickname{
    top:  calc(45px - .5vh) !important;   
}

.editable{
    background-color: var(--green);
    cursor: text;
}
.friends{
    background-color: red;
}

.loadable{
    cursor: pointer;
}
.loadable:hover{
border-bottom: 2px solid var(--gold);
border-right: 2px solid var(--gold);
}

.prof-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 5px var(--shade);
    position: absolute;
    top: 10px;
    left: 10px;
}
.setting button{
 width: 25%;
}

.add-friend{
    width: 12%;
    color: var(--gold);
    position: absolute;
    right: -10px;
    top: -20px;
}

#nf-message{
    margin: 0 auto;
    display: table;
}

#search-add{
    height: 85%;
    width: 70%;
    top: 50px;
    position: absolute;
    float: right;
    right: 10px;
    box-shadow: 2px 2px 6px var(--shade);
    background-color: var(--soft-shade);
}
