.security-btn{
    right: 0;
    background-color: var(--gold);
    margin: -40px -180px 0 0;
}

.editable{
    background-color: var(--light);
    padding: 2px 10px;
}
.friends{
    background-color: red;
}

.loadable{
    cursor: pointer;
}
.loadable:hover{
border-bottom: 2px solid var(--gold);
border-right: 2px solid var(--gold);
}

.prof-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 5px #555;
    position: absolute;
    top: 10px;
    left: 10px;
}

#prof-nick{
    top: 40px;
    cursor: text;
}

