
#nickname{
    /* top:  calc(45px - .5vh) !important;    */
    top: 6vh !important;
}

.editable{
    background-color: var(--green);
    cursor: text;
}

.loadable{
    cursor: pointer;
}
.loadable:hover{
border-bottom: 2px solid var(--gold);
border-right: 2px solid var(--gold);
}

.prof-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 5px var(--shade);
    position: absolute;
    top: 10px;
    left: 10px;
}
.setting button{
 width: 25%;
}

#nf-message{
    margin: 0 auto;
    display: table;
}

