.bar{
    background-color: var(--light);
    cursor: pointer;
}
.guestbar-info
{
    display: contents;
    position: relative;
    color: var(--dark);
    font-size: 1.5vh;
   
}
/* TODO: DEBUG: should be duplicated , other version in InviteBar.css*/
.invite-image{
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px var(--shade);
    display: inline;
}